<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>解説サイト</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body>
  <section class="section">
    <div class="container">
      <h1 class="title">Scratchプログラミング教材ポータルサイト</h1>
      <p class="block">サイトの解説をちゃんと書く</p>
      <div id="app">
        <div class="block">
          <h2 class="subtitle">絞り込み</h2>
          <p class="block">
            <template v-for="year in years">
              <label class="checkbox">
                <input type="checkbox" name="years" :value="year" v-model="selectedYears"> {{year}}年生
              </label>&nbsp;&nbsp;
            </template>
          </p>
          <p class="block">
            <template v-for="subj in subjs">
              <label class="checkbox">
                <input type="checkbox" name="subjs" :value="subj" v-model="selectedSubjs"> {{subj}}
              </label>&nbsp;&nbsp;
            </template>
          </p>
        </div>

        <div class="block">
          <h2 class="subtitle">コンテンツ</h2>
          <label class="checkbox">
            <input type="checkbox" v-model="descending"> 学年降順
          </label>
          <div class="columns is-multiline" style="margin-top: 1em">
            <div class="box column is-one-third" v-for="subj in sortedList" :key="subj.id">
              <img style="height: 200px" :src=subj.image><br>
              <a :href="subj.url">
                {{subj.year}}年生／{{subj.title}}／{{subj.subject}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ここにJavaScriptを書く -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    let app = new Vue({
      el: '#app',
      computed: {
        sortedList: function () {
          if (this.descending) {
            this.list.sort((a, b) => b.year - a.year);
          } else {
            this.list.sort((a, b) => a.year - b.year);
          }
          const years = (this.selectedYears.length) ? this.selectedYears : this.years;
          const subjs = (this.selectedSubjs.length) ? this.selectedSubjs : this.subjs;
          return this.list
            .filter(item => years.includes(item.year))
            .filter(item => subjs.includes(item.subject));
        }
      },
      data: {
        descending: false,
        subjs: ['国語', '算数', '理科', '社会', '音楽'],
        years: [1, 2, 3, 4, 5, 6],
        selectedSubjs: [],
        selectedYears: [],
        list: [{
          image: 'img/6-m-speed/jikko.png',
          title: '速さ',
          year: 6,
          subject: '算数',
          url: './6-math-speed.html'
        },
        {
          image: 'img/5-m-sakuzu/jikko.png',
          title: '正多角形',
          year: 5,
          subject: '算数',
          url: './5-math-sakuzu.html'
        },
        {
          image: 'img/2-m-tani/jikko.png',
          title: '単位変換',
          year: 2,
          subject: '算数',
          url: './2-math-tani.html'
        },
        {
          image: 'img/5-math-k/jikko.png',
          title: '公倍数・約数',
          year: 5,
          subject: '算数',
          url: './5-math-kobaisu.html'
        },
        {
          image: 'img/4-math-b/jikko.png',
          title: '帯分数から約分',
          year: 4,
          subject: '算数',
          url: './4-math-bunsu.html'
        },
        {
          image: 'img/3-math-99/jikko.png',
          title: '九九',
          year: 3,
          subject: '算数',
          url: './3-math-99.html'
        },
        {
          image: 'img/2-math-y/jikko.png',
          title: '数（かず）',
          year: 2,
          subject: '算数',
          url: './2-math-yomu.html'
        },
        {
          image: 'img/2-math-h/jikko.png',
          title: '筆算',
          year: 2,
          subject: '算数',
          url: './2-matn-hissan.html'
        },
        {
          image: 'img/3-kokugo-kotowaza/jikko.png',
          title: 'ことわざ',
          year: 3,
          subject: '国語',
          url: './3-kokugo-kotowaza.html'
        },
        {
          image: 'img/3-kokugo-story/jikko.png',
          title: '物語',
          year: 3,
          subject: '国語',
          url: './3-kokugo-story.html'
        },
        {
          image: 'img/2-kokugo-kaibun/jikko.png',
          title: '回文',
          year: 2,
          subject: '国語',
          url: './2-kokugo-kaibun.html'
        },
        {
          image: 'img/5-science-r/jikko.png',
          title: '雨',
          year: 5,
          subject: '理科',
          url: './5-science-rain.html'
        },
        {
          image: 'img/4-science-k/jikko.png',
          title: 'テスト',
          year: 2,
          subject: '理科',
          url: ''
        },
        ]
      },

    });
  </script>
</body>

</html>