body {
  background-color: #dfe8ef;
  font-family: "Segoe UI";
  color:#4a4a4a;
  width: 1024px;
  margin: auto;
}

.header {
  margin: auto;
  padding-bottom: 5px;
}


.header a{
  text-decoration: none;
  color: #39aae6;
  font-size: 20px;
}

.header a:hover {
  color: rgb(203, 203, 203);
}

.main {
  width: 1024px;
  margin: auto;
  padding: 50px;
  padding-top: 10px;
  background-color: #ffffff;
  padding-bottom: 100px;
  font-size: 20px;
}

#bordermaru{
  border-left: 10px #39aae6 solid;
}

h1 {
  margin-top: 10px;
  margin-bottom: 100px;
  padding-left: 10px;
  padding-bottom: 10px;
/*  background-color: #39aae6;*/
  font-size: 40px;
  text-align: center;
 
/*
  color: #236384;;
  background-color: rgb(242, 242, 242);
  border-top: 1px #236384 solid;
  border-left: 1px #3390c1 solid;
  border-bottom: 6px #236384 solid;
  border-right: 6px #3390c1 solid;
  
*/
}

p {
  text-indent: 1em;
}

/*　-----トップ-----　*/
.top {
  margin-bottom: 50px;
    
}

.joho{
  width: 400px;
  
  margin: 40px;
  float: right;
  
}

.joho img {
  height: 80px;
  
}

.joho p{
  padding: 20px;
  border: 5px dashed;
  line-height: 30px;
}

.jikko{
 text-align: center;
}

#scratch{
  border: 2px gray solid;
  border-radius: 10px;
}

#jump {
  margin-left: 10px;
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: rgb(128, 128, 128);
  border-radius: 10px 10px 0px 0px;
  position: relative;
  left: 150px;
  bottom: 15px;
  
}

#jump:hover {
  background-color: rgb(203, 203, 203);
}



/*
h2 {
  color: #39aae6;
  font-size: 30px;
  margin-bottom: 0px;
}
*/


/*　-----解説-----　*/

table {
  border: 2px #39aae6 solid;
  border-radius: 10px;
   clear: both;
  
}

h3{
  margin-top: 10px;
  border-left: 30px #39aae6 solid;
 text-align: left;
  padding-left: 5px;
}



tr td:nth-of-type(1) {
  
  width: 500px;
  text-align: center;
 
}

td {
  padding: 20px;
  line-height: 40px;
   vertical-align: top;
}

td img {
  width: 80%;
}

#imgcss img{
  width: 150px;
  padding-left: 50px;
 
}

#imgcss{
  text-align: left;
}
